*{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

.app__navbar{
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.app__navbar-logo{
    margin-right: 20rem;
}

.app__navbar-logo img{
    width: 150px;
}

.app__navbar-links{
    display: flex;
    list-style: none;
}

.app__navbar-links li{
    padding: 2rem 2rem;
    font-size: 2rem;
}

.app__navbar-button{
    background-color: rgb(228, 174, 196);
    font-size: 3rem;
    text-decoration: none;
}

.app__navbar-button:hover{
    background-color: red;

}